@model AM.DM.Article.ArticleModel

@{
    ViewData["Title"] = "registration";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
    <link href="~/css/user/registration.css" rel="stylesheet" />
}
@using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Article Update</p>
            </div>

            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Article Title</label>
                            <input type="text" name="ArticleTitle" class="form-control" value="@Model.ArticleTitle" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Article Description</label>
                            <input type="text" name="ArticleDescription" class="form-control" value="@Model.ArticleDescription" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Uploaded File: </label>
                            <label class="col-form-label text-primary">@Model.FileName</label>
                            <input type="file" name="File" class="form-control" value="@Model.File" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="Id" class="form-control" value="@Model.Id" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btnSubmit">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


@Html.Raw(TempData["SeverResponse"] )
