@model AM.DM.User.UserInformationModel

@{
    ViewData["Title"] = "registration";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @using AM.DM.User; 

    List<ProfessionModel> professionModels = ViewBag.Professions;
    List<OrganizationModel> organizationModel = ViewBag.Organizations;

}

@section Styles {
    <link href="~/css/user/registration.css" rel="stylesheet" />
}
@using (Html.BeginForm("Profile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Update Profile</p>
            </div>

            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Name</label>
                            <input type="text" name="UserName" class="form-control" placeholder="Organization" value="@Model.UserName" disabled />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email</label>
                            <input type="text" name="Email" class="form-control" placeholder="Profession" disabled value="@Model.Email" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Mobile Number</label>
                            <input type="text" name="MobileNumber" class="form-control" placeholder="MobileNumber" value="@Model.MobileNumber" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Country</label>
                            <input type="text" name="Country" class="form-control" placeholder="Country" value="@Model.Country" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Profession</label>
                            <select class="custom-select" name="Profession">
                                @foreach (var item in professionModels)
                                {
                                    <option value="@item.ProfessionName" selected="@(item.ProfessionName == Model.Profession)">@item.ProfessionName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Organization</label>
                            <select class="custom-select" name="Organization">
                                @foreach (var item in organizationModel)
                                {
                                    <option value="@item.OrganizationName" selected="@(item.OrganizationName == Model.Organization)">@item.OrganizationName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btnSubmit">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@Html.Raw(TempData["SeverResponse"])

